{{! ***************** Navbar ************* }}

<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <a href="/" class="logo"><img
        src="/assets/img/logo_transparent.png"
        alt="SeekJobsLogo"
      /></a>

    <nav id="navbar" class="navbar">
      <ul>

        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li>
          <a class="nav-link scrollto inactive" href="#">Search Jobs</a>
        </li>
        <li><a class="nav-link scrollto inactive" href="#">Team</a></li>

        <li><a class="nav-link scrollto" href="/login">LogIn</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- End of navbar -->
  </div>
</header>
<!-- End of Header -->
