<div id="search-jobs-div" class="dropdown align-items-center">
  <div class="dropdown">
    <input type="text" placeholder="Job title or company" id="input-job-company" class="search-bar dropbtn" onkeyup="filterFunction()">
  </div>
  <div class="dropdown">
    <input type="text" placeholder="All locations" id="input-location" class="search-bar dropbtn" onkeyup="filterFunction()">
  </div>
  <div class="custom-select">
    <select>
    <option value="0">Employment Types</option>
    <option value="2">Full-time</option>
    <option value="3">Part-time</option>
    <option value="4">Internship</option>
    </select>
  </div>
  <i class="fa-solid fa-magnifying-glass search-btn"></i>
</div>
