{{! ***************** 404 Error Page ************* }}

{{>navbar}}

<section id="hero" class="d-flex align-items-center"> >

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>PAGE NOT FOUND | <span>ERROR 404</span></h1>
    
            <hr>
        <div class="d-flex">
        <a href="/" class="btn-get-started scrollto">GO BACK</a>
      </div>
      </div>
</section>