{{>navbar}}
    <div class="container my-5">
    <h1>Register</h1>
    <form class="" action="#" method="post">
      <div class="form-group">
        <label>username</label>
        <input class="form-control" type="text" name="username">
        <label for="">password</label>
        <input class="form-control" type="text" name="password">
        </br>
      <button class="btn btn-primary" type="submit" name="button">Register</button>
    </form>

    </div>


