{{>navbar}}
    <div class="container my-5">
    <h1>Register</h1>
    <form class="" action="/signup" method="post">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="username">
        <label for="">Password</label>
        <input class="form-control" type="text" name="password">
        </br>
      <button class="btn btn-primary" type="submit" name="button">Register</button>
      			<p class="help"> Already have an account ? <a href="/login"> Log In</a></p>
    </form>

    </div>


