<div class="container my-5">
      <div class="text-center">
        <h1 class="display-4 text-center mb-3">Saved Listing</h1>
        <button class="btn btn-primary my-3" id="get">GET</button>
        <button class="btn btn-info" id="post">ADD</button>
        {{!-- <button class="btn btn-danger" id="delete">DELETE</button> --}}
      </div>
      <hr />
      <div id="res"></div>
    </div>

