{{>searchBars-searchJobs}}

<!-- Main Contents -->
<div id="content" class="clearfix">
  {{!-- LEFT COLUMN --}}
  <div id="left-column-jobs">
    {{!-- DON'T DELETE IT ! --}}
    {{!-- <a href="#job-detail-1"> --}}
      {{!-- <div class="card">
        <div>
          <h3>Company Name</h3>
          <img src="/assets/img/companyLogo-placeholder.png" alt="company logo" class="company-logo">
        </div>
        <h4>Job Title</h4>
        <h5>Location</h5>
        <p>Job Description</p>
        <p>Salary</p>
        <p>Salary</p>
      </div> --}}
    {{!-- </a> --}}
    {{!-- append content after this div --}}
    <div id="newCard"></div>
  </div>
  {{!-- RIGHT COLUMN --}}
  <div id="right-column-job-details">
    <h3>Job Detail</h3>
    <div class="job-detail"></div>
  </div>
</div>
