{{! ***************** Navbar ************* }}
{{>navbar}}

{{! ***************** User Error Page ************* }}
<section id="hero" class="d-flex align-items-center"> >

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>USER NOT FOUND</h1>
    
            <hr>
        <div class="d-flex">
        <a href="/" class="btn-get-started scrollto">GO BACK</a>
      </div>
      </div>
</section>
